*,
html {
  margin: 0;
  padding: 0;
  transition: 1s;
}

body,
html {
  height: 100vh;
  width: 100vw;
}
body > h1 {
  margin-top: 1rem;
  margin-left: 1rem;
}

body > p {
  margin-left: 1rem;
  max-width: 70vw;
}

.graph {
  display: flex;
  flex-direction: row;
  height: 60vh;
  justify-content: center;
  align-items: center;
}

.station {
  display: flex;
  flex-direction: column;
  width: 2vw;
  align-items: center;
  justify-content: center;
  padding-top: 1.5vw;
}

.station .point {
  background-color: black;
  border-radius: 100%;
  min-width: 1vw;
  min-height: 1vw;
}

.graph > div:nth-of-type(2) .point,
.graph > div:last-of-type .point {
  min-width: 1.5vw;
  min-height: 1.5vw;
}

.station p {
  transform: rotate(-90deg) translateX(-50%);
  transform-origin: left left;
  white-space: nowrap;
}

.track {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: auto;
}

.track .line {
  height: 2px;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
}

.east,
.west {
  height: 4px;
  background-color: cornflowerblue;
  display: flex;
  justify-content: center;
  position: absolute;
}

.east {
  bottom: 49.5%;
  border-radius: 0.5em 0.5em 0 0;
}

.west {
  top: 50.5%;
  border-radius: 0 0 0.5em 0.5em;
}

.east p.amount {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
}

.west p.amount {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
}

.growen {
  height: 200px !important;
}

.extraInfo {
  opacity: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.growen .extraInfo {
  opacity: 1;
}

.extraInfo p {
  text-align: center;
  color: white;
}

.extraInfo button {
}

.backgroundColorDiv {
  height: 0;
  width: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(128, 128, 128, 0.5);
  opacity: 0;
}

.videoDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 0;
  width: 0;
  opacity: 0;
}

.closeVideo {
  position: absolute;
  top: 1em;
  right: 1em;
  height: 2em;
  width: 2em;
  text-align: center;
  color: white;
  background-color: grey;
  border-radius: 100%;
  z-index: 20;
}

video {
  opacity: 0;
  height: 0;
  width: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.backgroundColorDiv.videoActive {
  opacity: 1;
  height: 100vh;
  width: 100vw;
}

.videoActive .videoDiv {
  height: 100vh;
  width: auto;
  opacity: 1;
}

.videoActive video {
  height: 100vh;
  opacity: 1;
  width: auto;
}

.directions {
  display: flex;
  flex-direction: row;
  width: 4vw;
  height: 8vh;
}

.directions .directionsText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.directions .directionsArrow {
  height: 100%;
  background-color: black;
  width: 1vw;
  clip-path: polygon(
    30% 20%,
    0% 20%,
    50% 0%,
    100% 20%,
    70% 20%,
    70% 80%,
    100% 80%,
    50% 100%,
    0% 80%,
    30% 80%
  );
}

.weesperWibaut .east,
.weesperWibaut .west {
  background-color: #306bac;
  box-shadow: 1px 1px 0px 0.5px #5989bd;
}

.wibautAmstel .east,
.wibautAmstel .west {
  background-color: #8cfbde;
  box-shadow: 1px 1px 0px 0.5px #bafdeb;
}

.amstelSparkler .east,
.amstelSparkler .west {
  background-color: #034732;
  box-shadow: 1px 1px 0px 0.5px #4f7e70;
}

.sparklerVandermade .east,
.sparklerVandermade .west {
  background-color: #008148;
  box-shadow: 1px 1px 0px 0.5px #4da77f;
}

.vandermadeDuivendrecht .east,
.vandermadeDuivendrecht .west {
  background-color: #ddd617;
  box-shadow: 1px 1px 0px 0.5px #f1efa2;
}

.duivendrechtStrandvliet .east,
.duivendrechtStrandvliet .west {
  background-color: #ebbc41;
  box-shadow: 1px 1px 0px 0.5px #f1d07a;
}

.strandvlietBijlmer .east,
.strandvlietBijlmer .west {
  background-color: #ef8a17;
  box-shadow: 1px 1px 0px 0.5px #f4ad5d;
}

.bijlmerBullewijk .east,
.bijlmerBullewijk .west {
  background-color: #ef2917;
  box-shadow: 1px 1px 0px 0.5px #f4695d;
}

.bullewijkHolendrecht .east,
.bullewijkHolendrecht .west {
  background-color: #c297b8;
  box-shadow: 1px 1px 0px 0.5px #d4b6cd;
}

.wibautAmstel .east p,
.wibautAmstel .west p,
.vandermadeDuivendrecht .east p,
.vandermadeDuivendrecht .west p {
  color: black;
}

.weesperWibaut .west button {
  opacity: 0;
  display: none;
}
